<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.winey_final.main.MainMapper">

    <select id="searchWine" resultType="WineVo">
        SELECT a.product_id productId, a.nm_kor nmKor, a.nm_eng nmEng, a.price, a.pic,
        a.promotion, a.beginner, b.sale, b.sale_price salePrice, b.sale_yn saleYn
        FROM t_product a
        INNER JOIN t_sale b
        ON a.product_id = b.product_id
        <where>
            <if test="categoryId != null">
                and a.category_id = #{categoryId}
            </if>
            <if test="bigCategoryId != null">
                AND a.big_category_id = #{bigCategoryId}
            </if>
            <if test="countryId != null">
                AND a.country_id = #{countryId}
            </if>
            <if test="price == 0">
                AND a.price <![CDATA[< 20000]]>
            </if>
            <if test="price == 1">
                AND a.price >= 20000 AND a.price <![CDATA[< 50000]]>
            </if>
            <if test="price == 2">
                AND a.price <![CDATA[>= 50000]]>
            </if>
            <if test="price == 3">
                AND a.price >= 100000
            </if>
            <if test="text != null">
                AND a.nm_kor LIKE CONCAT('%', #{text}, '%')
            </if>
        </where>
        <if test="sort == 0">
            ORDER BY a.product_id DESC
        </if>
        <if test="sort == 1">
            ORDER BY a.price DESC
        </if>
        <if test="sort == 2">
            ORDER BY a.price
        </if>
        LIMIT #{startIdx}, #{row}
    </select>

    <select id="selLastWine" resultType="int">
        SELECT count(product_id)
        FROM item
        <where>
            <if test = "product_id != null">
                and product_id = #{productId}
            </if>
            <if test = "text != null">
                and `nm_kor` LIKE CONCAT('%',#{text},'%')
            </if>
        </where>
    </select>

</mapper>