<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.winey.mypage.MyPageMapper">
    <update id="updUser">
        update t_user
        set
        nm=#{name},
        tel=#{tel},
        pw=#{pw},
        region_nm_id=#{regionNmId}
        where user_id=#{userId}
    </update>
    <select id ="selUser">
        select user_id userId,email,nm,tel,region_nm_id regionNmId,del_yn delYn
        from t_user
        where user_id=#{userId}
    </select>

    <update id="delUser">
        update t_user
        set del_yn=1
        where user_id=#{userId}
    </update>



</mapper>